/* Error: Undefined variable.
 *    ,
 * 96 |     color: v.$accent-alt;
 *    |            ^^^^^^^^^^^^^
 *    '
 *   kmom02/scss/style.scss 96:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 96 \2502      color: v.$accent-alt;\a    \2502             ^^^^^^^^^^^^^\a    \2575 \a   kmom02/scss/style.scss 96:12  root stylesheet";
}
