.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid v.$accent-color;
  padding: 20px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  max-height: 150px;
}

.nav ul li a {
  color: v.$font-color;
}

.nav ul li a:hover {
  color: v.$accent-color;
}

.logo {
  margin-right: 20px;
}

.logo img {
  max-height: 150px;
}



@media (max-width: 767px) {
  .title,
  .logo {
    padding: 1em 1em 1em 0;
  }

  .title {
    min-width: 50%;
  }

  .logo {
    max-width: 30%;
  }
}

.title {
  a {
    color: v.$font-color;
    text-decoration: none;
  }
	
  p {
    font-style: italic;
    color: v.$font-color;
  }
}
