* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
     background-color: #0b192c;
    color: white;
}

/* Placement */

body {
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 1000px;
}

.main {
    flex: 1 0 auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, .footer {
    flex: 0 0 auto;
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    background-color: #1e3e62;
}

.nav ul li a {
    color: white
}

.nav ul li a:hover {
    color: #ff6500;
}

/* Title */

.title, .logo {
    padding: 3em ;
}

.logo img {
    border-radius: 100%;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }
    .title {
        min-width: 50%;
    }
    .logo {
        max-width: 30%;
    }
}

.title a {
    color: white;
    text-decoration: none;
}

.title p {
    font-style: italic;
    color: white
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
}


.footer .social {
    font-size: 2rem;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.6em 0;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.content a {
    color: #ff6500;
}
 
.social i {
    color: #ff6500;
}

.footer {
    padding: 20px 40px;
}

.content img {
    border-radius: 20px;
    margin-top: 20px;
}